
body{
    margin: 0;
    background-color: #CCCCCC;
}

p {
    color: #0099FF;
    font-size: 1.2rem;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    font-family: 'Verdana', sans-serif;
}

h1{
    text-align: center;
    color: #006699;
    font-size: 1.7rem;
    font-family: 'Verdana', sans-serif;

}

h2{
    text-align: center;
    color: #006699;
    font-size: 1.5em;
    font-family: 'Roboto', sans-serif;
}

ul {
    list-style-type: square;
    margin: 0;
    padding: 0;
        margin-left: auto;
    margin-right: auto;
    width: 250px;
}

li {
    display: block;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
